@import "src/styles/variables.scss";
@import "./Chat.module.scss";

.message-box__container {
  @include setDimension($width: 75%, $height: 100%);

  .message__recipient {
    @include flexBox($gap: 10px, $alignItems: center);
    padding: 10px 15px;
    background: $message-recipient-header-color;
    font-size: 25px;
    font-weight: bold;
    .buddy__image {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      background: rgba(241, 156, 9, 0.3490196078);
      border-radius: 50%;
      font-size: 49px;
      color: #f19c09;
    }
  }
  .message__box {
    height: calc(100% - 50px);
    :global(.infinite-scroll-component__outerdiv) {
      height: calc(100% - 44px);
      .message__list {
        @include flexBox($direction: column-reverse, $gap: 10px);
        overflow: hidden auto;
        box-sizing: border-box;
        height: 100% !important;
        padding: 15px;
        background: var(--message-box-bg-color);
        .message {
          @extend .message-style;
        }
      }
    }
    :global(.book-mart__text-field.MuiTextField-root) {
      height: 44px;
      :global(.MuiOutlinedInput-notchedOutline) {
        border: none;
      }
      :global(.MuiInputAdornment-disablePointerEvents .MuiSvgIcon-root) {
        cursor: not-allowed;
        color: $disable-color;
      }
    }
  }
}
