@import "src/styles/variables.scss";
@import "./Chat.module.scss";

.empty-chat-box {
  background-image: var(--chat-box-bg-image);
  @include flexBox(
    $direction: column,
    $justifyContent: center,
    $alignItems: center
  );
  @include setDimension($width: 70%, $height: 100%);
  @include font($size: 30px, $weight: bold);
  margin: 0 auto; 
  text-align: center;
  color: var(--primary-color);
  :global(.MuiSvgIcon-root) {
    @include setDimension($width: 60px, $height: 60px);
  }
}
.message-box__container {
  padding: 10px;
  box-sizing: border-box;
  @include setDimension($width: 70%, $height: 100%);
  margin: 0 auto;
  background-image: var(--chat-box-bg-image);


  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .message__recipient {
    @include flexBox($gap: 10px, $alignItems: center);
    padding: 10px 15px;
    background: $message-recipient-header-color;
    border-radius: 15px 15px 0 15px;
    span {
      @include font($size: 15px, $weight: bold);
      @include addEllipsis($width: 80%);
      @include font($size: 25px, $weight: bold);
    }
    img {
      @include setDimension($width: 25px, $height: 25px);
      box-sizing: border-box;
      border-radius: 50%;
    }
  }
  .message__list {
    height: calc(100% - 115px); 
    :global(.infinite-scroll-component__outerdiv) {
      height: 100%;
      :global(.infinite-scroll-component) {
        @include flexBox($direction: column-reverse );
        @include setDimension($width: 100%, $height: fit-content);
        overflow: hidden auto;
        box-sizing: border-box;
        padding: 15px;
        :global(.scroll__element) {
          @include flexBox($direction: column-reverse, $gap: 10px);
          .message {
            @extend .message-style;
          }
        }
      }
    }
  }
}
