@import "src/styles/variables.scss";
@import "./Chat.module.scss";

.message-box__container {
  padding: 10px 0;
  box-sizing: border-box;
  @include setDimension($width: 85%, $height: 100%);
  margin: 0 auto;
  position: relative;
  .message__recipient {
    @include flexBox($gap: 10px, $alignItems: center);
    padding: 10px 15px;
    background: $message-recipient-header-color;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    .buddy__image {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      background: rgba(241, 156, 9, 0.3490196078);
      border-radius: 50%;
      font-size: 49px;
      color: #f19c09;
    }
  }
  .message__list {
    height: calc(100% - 85px);

    :global(.infinite-scroll-component__outerdiv) {
      height: calc(100% - 44px);
      :global(.infinite-scroll-component) {
        border-radius: 15px;  
        margin: 3px 0;
        :global(.scroll__element) {
          @include flexBox($direction: column-reverse, $gap: 10px);
          overflow: hidden auto;
          box-sizing: border-box;
          height: 100% !important;
          padding: 15px;
          background-color: var(--buddy-box-bg-color);
          .message {
            @extend .message-style;
          }
        }
      }
    }
  }
}
