@import "src/styles/variables.scss";

.link__text {
  @include flexBox($justifyContent: space-between, $gap: 5px);
  color: var(--primary-text-color);
  text-decoration: none;
  &.active {
    color: var(--secondary-text-color);
  }
}
