@import "src/styles/variables.scss";

.link__text {
  color: $color-white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  &.active {
    color: $color-nav-link;
  }
}
