$primary-color-dark: #c3d7f3;
$primary-bg-color-dark: #333333;
$secondary-bg-color-dark: #5275a5;
$primary-text-color-dark: #2e2f33;
$secondary-text-color-dark: #3a0ca7;
 
$message-box-bg-color-dark: #061d3d;
$highlight-msg-color-dark: #b2cdf3;
$buddy-box-bg-color-dark: #153869;

$chat-box-bg-image-dark: url("~src/assets/images/chat-background-dark.jpg");
$chat-input-bg-color-dark: #afc6d7;