$primary-color-light: #061d3d;
$primary-bg-color-light: #ffffff;
$secondary-bg-color-light: #bdbaba;
$primary-text-color-light: #ffffff;
$secondary-text-color-light: #ffa500;

$message-box-bg-color-light: #f9f9f9;
$highlight-msg-color-light: #6868a1;

$buddy-box-bg-color-light: #e7e5e5;

$chat-box-bg-image-light: url("~src/assets/images/chat-background-light.jpg");
$chat-input-bg-color-light: #e0ebf3;
