// =========== Color Codes =================

// --- Background
$color-bg-primary: #061d3d;
// -- Buttons
$color-btn-primary: #fcd200;
$color-btn-secondary: #ffa41c;
// -- Others
$color-item-link: #007185;
$color-price-notification: #b12704;
$color-nav-link: #ffc262;

$color-white: #ffffff;
$color-black: #000000;
