@import "src/styles/variables.scss";

.buddy-list {
  @include setDimension($width: 30%, $height: 100%);
  overflow: hidden auto;
  .empty-record-msg {
    display: block;
    padding: 30px 0;
    font-style: italic;
    color: var(--primary-color);
    text-align: center;
  }
  .buddy {
    @include flexBox($gap: 10px);
    padding: 10px;
    background-color: var(--message-box-bg-color);
    cursor: pointer;
    border-bottom: 3px solid $disable-color;
    color: var(--primary-color);
    .buddy__image {
      @include setDimension($width: 25px, $height: 25px);
      @include borderRadius($radius: 50%);
      @include flexBox($justifyContent: center, $alignItems: center);
      box-sizing: border-box;
      font-size: 49px;
    }
    .buddy__details {
      @include flexBox($direction: column, $alignItems: flex-start);
      width: calc(100% - 35px);
      .buddy__title {
        @include addEllipsis($width: 100%);
      }
      .last__message {
        @include flexBox($alignItems: center, $gap: 3px);
        @include addEllipsis($width: 100%);
        font-size: 10px;
        font-style: italic;
        color: var(--highlight-msg-color);
        :global(.MuiSvgIcon-root) {
          @include setDimension($width: 10px, $height: 10px);
        }
      }
    }
  }
}
