@import "src/styles/variables.scss";

.navigation__list ul {
  @include flexBox(
    $justifyContent: space-between,
    $gap: 15px,
    $alignItems: center
  );
  margin: 0;
  padding: 10px 25px;
  list-style-type: none;
}

@media screen and (max-width: $mobile-max-width) {
  .navigation__list {
    justify-content: space-around;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary-color);
    ul {
      padding: 0 25px;
    }
  }
}
