@import "src/styles/variables.scss";

.password-checker-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  .password-checker-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    &.valid {
      color: $color-item-success;
      font-weight: bold;
      transition: color 0.75s ease-in-out;
    }
    &.in-valid {
      color: $color-price-notification;
      transition: color 0.75s ease-in-out;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .password-checker-list {
    font-size: 12px;
  }
}
