@import "src/styles/variables.scss";

.sign-up__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .sign-up-error__container {
    box-shadow: 0 0 0 4px $color-lavender-blush inset;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    padding: 10px;
    background-color: $color-white;
    border: 1px solid $app-error-primary;
    border-radius: 5px;
    .sign-up-error__message {
      width: 100%;
      color: $app-error-primary;
      text-align: left;
    }
  }
  .sign-up-form__container {
    width: 85%;
    padding: 20px 26px;
    background-color: #ffffff;
    border: 1px #d5d5d5 solid;
    border-radius: 8px;
    .form-steps__container {
      padding: 20px 0;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      gap: 25px;
    }
  }
  .disable-form {
    pointer-events: none;
    opacity: 0.5;
  }

  .sign-up__divider {
    padding: 15px 0 10px;
    font-size: fontSize(12);
  }
  .sign-up__btn {
    &:global(.book-mart__button) {
      background-color: $color-anti-flash-white;
      border-color: $color-gainsboro;
      font-weight: normal;
    }
    &:global(.book-mart__button:hover) {
      background-color: $color-light-gray;
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .sign-up__container {
    .sign-up-error__container {
      width: 65%;
      font-size: fontSize(12);
    }
    .sign-up-form__container {
      width: 60%;
      max-width: 300px;
      padding: 15px 18px;
      .form-steps__container {
        width: 90%;
      }
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .sign-up__container {
    :global(.MuiSvgIcon-root) {
      width: 10px;
      height: 10px;
    }
  }
}
@media screen and (max-width: $tablet-max-width) and (min-width: $small-mobile-max-width) {
  .sign-up__container {
    .sign-up-error__container {
      width: 60%;
      max-width: 300px;
      font-size: fontSize(12);
    }
  }
}
