@import "src/styles/variables.scss";
.app-header {
  @include flexBox($justifyContent: space-between, $alignItems: center);
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  .header__content {
    @include flexBox($justifyContent: center, $alignItems: center);
    .header__text {
      margin: 0;
      padding: 10px 25px;
      color: $color-white;
    }
  }
}
