@import "src/styles/variables.scss";
.menu-bar__container {
  .MuiButton-root {
    padding: 0;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--primary-text-color);
    text-transform: unset;
    &:hover {
      color: var(--primary-text-color);
    }
  }
  &.active {
    .MuiButton-root {
      color: var(--secondary-text-color);
      &:hover {
        color: var(--secondary-text-color);
      }
    }
  }
}
.MuiMenu-list {
  background-color: var(--primary-color);
  .MuiMenuItem-root {
    font-size: 14px;
  }
}
