@import "src/styles/variables.scss";

.app__container {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg-color);
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
  }
  .app-content {
    width: 100%;
    padding: 60px 0 0 0;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .app__container .app-content {
    padding: 60px 0 70px 0;
    height: calc(100% - 49px);
    box-sizing: border-box;
  }
}
