@import "src/styles/variables.scss";

.app__container {
  @include setDimension($width: 100vw, $height: 100vh);
  background-color: var(--primary-bg-color);
  .app-content {
    @include setDimension($width: 100%, $height: 100%);
    box-sizing: border-box;
    padding: 45px 0 0 0;
    background-color: var(--message-box-bg-color);
  }
}

@media screen and (max-width: $mobile-max-width) {
  .app__container .app-content {
    padding: 60px 0 0 0;
  }
}
