@import "src/styles/variables.scss";
.app__container {
    width: 100vw;
    height: 100vh;
  .app-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      z-index: 2;
      top: 0;
      width: 100%;
      background-color: $color-bg-primary;
  }
  .app-content {
      width: 100%;
      padding: 49px 0 0 0;
  }
}
